:root {
  --rose :#D1A59E;
  --white : white;
  --ouro : #D8AD6C;
}

*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

html {
  font-family : "Inter", sans-sans;
}

main {
  background-image : url(../assets/bg.png);
  background-size: cover;
  background-position: center;
}

.container {
  width : 100%;
  max-width : 1120px;
  margin: 0 auto;
  height : 100vh;
  display : flex;
  justify-content : center;
  align-items : center;
}

.content{
  width: 85%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: white;
  padding: 2rem 3rem;
  -webkit-box-shadow: 2px 0px 34px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 34px -14px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 34px -14px rgba(0,0,0,0.75);
}

.content img{
  width : 300px;
}

.content .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h2 {
  font-size: 3rem;
  color : var(--ouro)
  
}

.content span {
  font-size: 1.05rem;
  color : var(--ouro);
  margin-top: -5px;
  font-weight : 600;
}

.loading {
  width: 400px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.social-icons {
  display: flex;
  gap: 5px;
}

.social-icons a:hover {
  transform: scale(1.05)
}

.social-icons a img {
  width: 40px;
}

.adress {
  text-align: center;
  margin-top: 8px;
  font-size: .7rem;
  color: var(--ouro)
}



@media screen and ( max-width:390px ){

  .content h2 {
    font-size: 2rem;
  }


}